<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="Entities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.72.56.75,7023;initial catalog=AVANI_HOABINH;persist security info=True;user id=fts_avani;password=FTSvn@AVANI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<!-- LOGS -->
		<!--0: Error, 1: Warning, 2: Info, 3: Debug-->
		<add key="log_level" value="3" />
		<add key="log_path" value="D:\iAndon\Biz\Art" />
    <!-- ON/OFF EVENT -->
    <!--Có xử lý message từ thiết bị hay không-->
    <add key="is_process_message" value="0" />
    <!--Có đồng bộ dữ liệu từ ứng dụng khác hay không-->
    <add key="is_process_sync" value="0" />
    <!--Có Archive dữ liệu hay không-->
    <add key="is_process_archive" value="0" />
    <!--Có xóa dữ liệu thô cũ hay không-->
    <add key="is_process_clean_data" value="0" />
    <!--Có gửi lệnh điều khiển đến thiết bị hay không-->
    <add key="is_send_control_message" value="1" />
    <!--Tự tính toán thời gian nghỉ giải lao -->
    <add key="is_auto_break" value="1" />
    <!--Có tính toán sự kiện dựa vào các NODE hay không-->
    <add key="is_line_event_by_node" value="0" />

    <!-- INTERVAL -->
    <!--Thời gian check Subscribe RabbitMQ - In mili-seconds-->
		<add key="queue_interval" value="1000" />
		<!--Thời gian xử lý message - In mili-seconds-->
		<add key="message_interval" value="1000" />
		<!--Thời gian lưu dữ liệu vào DB - In mili-seconds-->
		<add key="data_interval" value="1000" />
		<!--Thời gian tải lại dữ liệu từ DB - In mili-seconds-->
		<add key="reload_interval" value="1000" />
		<!--Thời gian xử lý chạy chuyền/tính toán - In miliseconds-->
		<add key="process_interval" value="1000" />
		<!--Update Display Value Interval - In mili-seconds-->
		<add key="update_display_interval" value="2000" />
    <!--Thời gian thực hiện archive dữ liệu live - In Second -->
    <add key="archive_interval" value="600" />
    <!--Thời gian thực hiện xóa dữ liệu live - Định kỳ theo ngày -->
		<add key="data_live_interval" value="1" />
		<!--Thời gian lưu trữ dữ liệu Raw - In days-->
		<add key="data_live_time" value="10" />
		<!--Thời gian đọc dữ liệu đồng bộ - In seconds-->
		<add key="sync_interval" value="2" />
		<add key="sync_url" value="http://10.19.29.5/ProductionMan2.API/ProductionPlan/getProductionInfo/" />

    <!-- CONFIG PRODUCTION MONITORING -->
    
    <!--Mức đánh giá nhanh/chậm của sản xuất - In percentage-->
		<add key="production_level" value="10" />
		<!--Thời gian xác định chuyền dừng nếu khong sản xuất - In seconds-->
		<add key="production_stop" value="600" />
		<!--Thời gian tối thiểu xác nhận 1 lần hoàn thành, nếu nhỏ hơn thì xem là nhiễu - In seconds-->
		<add key="min_takttime" value="5" />
    <!--Trong thời gian nghỉ giải lao thì có tính hay không -->
		<add key="production_in_break" value="0" />
		<!--Fix thời gian hoàn thành sản phẩm gần nhất cần tính, nhỏ hơn thì bỏ qua - In seconds -->
		<add key="fix_time_for_production" value="300" />
		<!--Fix thời gian hoàn thành sản phẩm gần nhất đến giờ thì sẽ kết thúc - In seconds -->
		<add key="fix_time_for_stop" value="300" />
    <!--Tính theo công suất hay không-->
    <add key="calculate_by_performance" value="1" />
    <!--Tự động tạo vỏ kế hoạch hay không -->
    <add key="auto_add_workplan" value="0" />
    <!--Tự động SPLIT kế hoạch theo TIME hay không -->
    <add key="auto_split_workplan_detail" value="1" />
    <!--Có sử dụng CONFIG cho PRODUCT hay dùng trực tiếp từ PRODUCT -->
    <add key="use_product_config" value="1" />
    <!--Add Event until Finish Plan hay không -->
    <add key="add_event_until_finish" value="1" />
    <!--Thời gian switch giữa các PRODUCT -->
    <add key="auto_switch_workplan_interval" value="30" />
    <!--PRODUCT mặc định là gì -->
    <add key="default_product" value="NOT FOUND!" />
    <!--HeadCount mặc định -->
    <add key="default_head_count" value="20" />
    <!--Cycle Time mặc định -->
    <add key="default_cycle_time" value="20" />
    <!--Tính Performance theo Detail hay theo Total -->
    <add key="performance_by_detail" value="0" />
    <!--Tính Performance theo Product hay theo Total -->
    <add key="performance_by_product" value="1" />

    <!--Thời gian được xem là Disconnect - In seconds-->
    <add key="disconnected_time" value="300" />
    <!--Có sử dụng giờ RESPONSE hay không -->
    <add key="use_response_event" value="0" />
    <!--Event mặc định là gì -->
    <add key="default_event" value="0" />

    <!--Fix thời gian lệch giữa Thiết bị và Server nếu có - In seconds -->
    <add key="fix_time_difference" value="0" />


		<!-- Rabbit setting-->
		<!--<add key="RabbitMQ.Host" value="27.72.29.38:5672" />-->
		<add key="RabbitMQ.Host" value="localhost:5672" />
		<add key="RabbitMQ.VirtualHost" value="/" />
		<add key="RabbitMQ.User" value="guest" />
		<add key="RabbitMQ.Password" value="guest" />
		<add key="CustomerId" value="Ariston" />

    <!-- Email setting-->
    <add key="SMTP.Host" value="smtp.yandex.com" />
    <add key="SMTP.Port" value="465" />
    <add key="SMTP.Timeout" value="2" />
    <add key="SMTP.SSL" value="1" />
    <add key="SMTP.User" value="info@avani.vn" />
    <add key="SMTP.Password" value="Avani@123" />

  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
